/* Custom CSS for the Search & Replace popup */

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Inconsolata-Regular.ttf');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Inconsolata-Bold.ttf');
}

html, body {
  margin: 0;
  padding: 0;
  width: 590px;
}

input {
  font-family: 'Inconsolata', monospace;
}
body {
  box-sizing: border-box;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  background-color: #fff;

  --main-color: #4569ac;
  --main-color-dark: #355084;
  --main-color-light: #a0b3d5;

  --btn-bg-color: #f5f5f5;
  --btn-bg-color-hover: #f8f8f8;
}


/* MAIN LAYOUT */
.main-panel {
  width: 100%;
  padding: 0.5em;
  color: #111;
}
.right-panel {
  color: #222;
  box-sizing: border-box;
  padding: 0.8em 0.5em 0.5em;
  display: flex;
  flex-shrink: 0;
  width: 70px;
  border-left: 1px solid gray;
  background-color: var(--btn-bg-color);
  background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
}
.right-panel-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.right-panel-buttons > .menu-item {
  margin-bottom: 0.3em;
  cursor: pointer;
  text-shadow: 0 0 1px var(--main-color);
}
.right-panel-buttons > .menu-item:hover {
  color: var(--main-color);
  text-shadow: 0 0 2px var(--main-color-light);
}
.right-panel-content {
  opacity: 0;
  position: absolute;
  z-index: -1;
  right: 70px;
  top: 0;
  width: calc(100% - 70px);
  height: 100%;
  background: #fff;
  border-left: 1px solid gray;
  transition: opacity 0.25s ease-out;
}
.right-panel-content.active {
  opacity: 1;
  z-index: 1;
}

/* TAB PANELS */
  .panel-title {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding: 1em 1em 0;
    margin-bottom: 0.5em;
  }
  .favourites-list,
  .history-list,
  .templates-list {
    cursor: default;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
  }

  .favourites-list-item,
  .history-list-item,
  .templates-list-item {
    background-color: #fdfdfd;
    border-radius: 2px;
    padding: 5px 1em;
    /*font-size: 0.9em;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(0,0,0,0.1);
    border-bottom: none;
    white-space: nowrap;
    height: 1.3em;
  }
  .favourites-list-item > span:first-child,
  .history-list-item > span:first-child,
  .templates-list-item > span:first-child {
    overflow-x: hidden;
    text-overflow: ellipsis;
    cursor: default;
  }
  .favourites-list-item:last-child,
  .history-list-item:last-child,
  .templates-list-item:last-child {
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
  .favourites-list-item:hover,
  .history-list-item:hover,
  .templates-list-item:hover {
    box-shadow: inset 0 0 2px var(--main-color);
    background-color: #f1f1f1;
  }
  .favourites-list-item-remove,
  .templates-list-item-remove,
  .templates-list-item-edit {
    display: none;
    cursor: pointer;
    color: #333;
    font-size: 1.3em;
  }
  .templates-list-item-edit {
    font-size: 1.2em;
    margin-right: 10px;
  }
  .favourites-list-item:hover .favourites-list-item-remove,
  .templates-list-item:hover .templates-list-item-remove,
  .templates-list-item:hover .templates-list-item-edit {
    display: inline-block;
  }
  .favourites-list-item-remove:hover,
  .templates-list-item-remove:hover,
  .templates-list-item-edit:hover {
    color: #111;
  }
  .templates-create-new-button {
    cursor: pointer;
    color: var(--main-color);
  }
  .templates-create-new-button:hover {
    color: var(--main-color-dark);
  }

  /* HELP PANEL */
  .help-panel {
    cursor: default;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow: auto;
    padding: 0;
  }
  .help-panel-title {
    align-self: flex-start;
    font-weight: bold;
    padding: 1em 1em 0;
  }
  .help-panel-links {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .help-panel-links > a {
    display: inline-block;
    font-weight: bold;
    padding: 5px 8px;
    opacity: 0.8;
  }
  .help-panel-links > a:hover {
    opacity: 1;
  }
  .help-panel-descr {
    margin: 0.5em 0;
    font-size: 1.2em;
  }
  .help-panel-icon {
    display: block;
    margin-bottom: 10px;
  }
  .help-panel-footnote {
    font-size: 0.9em;
  }


/* INPUT COMPONENTS */
  .search-status-text {
    cursor: default;
    padding: 0 0.5em;
  }

/* Text input */
  .text-input {
    -moz-appearance: none !important;
    background-color: #FFF;
    color: #000;
    width: 300px;
    border-radius: 2px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    height: 28px;
    padding: 1px 8px;
    margin: 0.5em 0 0.5em 0;
    outline: none;
    transition: all 0.1s ease-out;
  }

  .text-input:focus {
    border: 1px solid #4d90fe;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    outline: none;
  }

/* Button */
  .button-standard {
    display: inline-block;
    box-shadow: none;
    background-color: var(--btn-bg-color);
    background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
    color: #333;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 2px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    height: 30px;
    line-height: 30px;
    outline: 0px;
    padding: 0 8px;
  }
  .button-standard.button-disabled,
  .button-standard.button-disabled:hover {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.05);
    color: #b8b8b8;
    cursor: default;
  }

  .button-standard:hover {
    box-shadow: none;
    background-color: var(--btn-bg-color-hover);
    background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
    color: #111;
    border: 1px solid #c6c6c6;
  }
  .button-standard:active {
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    background: var(--btn-bg-color-hover);
    color: #111;
    border: 1px solid #c6c6c6;
  }
  .button-small {
    width: 16px;
  }


/* Checkbox */ 
  .checkbox {
    margin: 0 8px 5px 0;
    transform: scale(0.8);
    transform-origin: bottom center;
    position: relative;
    display: inline-block;
  }

  .checkbox label {
    color: #333;
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    border-radius: 2px;

    box-shadow: inset 0px 1px 3px rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,0.1);
    background: #fcfff4;
    background: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
    background: linear-gradient(top,#f5f5f5,#f1f1f1);
  }

  .checkbox label:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 10px;
    height: 5px;
    background: transparent;
    top: 4px;
    left: 4px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
  }

  .checkbox label:hover::after,
  label:hover + .checkbox label::after {
    opacity: 0.2;
  }

  .checkbox input[type=checkbox]:checked + label:after {
    opacity: 1;
  }
  .checkbox input:focus {
    outline: none;
  }
  .checkbox input::-moz-focus-inner {
    border: 0;
  }

/* Star Checkbox */
  .star-wrapper {
    display: flex;
    align-items: center;
    height: 28px;
  }
  .star-checkbox {
    font-size: 11px;
    cursor: pointer;
    margin: 0 6px 2px 0;
  }
  .star-checkbox span:first-child {
    color: #f8f8f8;
  }
  .star-checkbox span:last-child {
    color: rgba(0,0,0,0.4);
  }
  .star-checkbox:hover span:first-child,
  .star-label:hover + .star-checkbox span:first-child {
    color: #f8f8f8;
    text-shadow: 0 0 4px rgba(255, 162, 0, 0.74);
  }
  .star-checkbox:hover span:last-child,
  .star-label:hover + .star-checkbox span:last-child {
    color: rgba(0, 0, 0, 0.6);
  }
  .star-checkbox.active span:first-child,
  .star-label:hover + .star-checkbox.active span:first-child {
    color: orange;
  }
  
  .star-checkbox.active span:last-child,
  .star-label:hover + .star-checkbox.active span:last-child {
    color: orange;
  }
  
  .star-label {
    order: 1;
    cursor: pointer;
  }
  