/* Custom CSS for the Search & Replace popup */

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Inconsolata-Regular.ttf');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/Inconsolata-Bold.ttf');
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Inconsolata', monospace;
  margin: 1em;
}